.outer-fixed-container {
  width: 896px;
  height: 512px;
  overflow: hidden;
  position: relative;
  background: black; /* Or any fallback color */
}

.container-overall {
  color: #fefefe;
  display: grid;
  grid-template-columns: 70% 30%; 
  height: 100%;
}

.blue-container {
    background: linear-gradient(135deg, #184350, #17424f);
    display: grid;
    grid-template-rows:  10% 5% 20% 40%; 
}

.blue-container-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

.blue-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    z-index: 0;
}

.blue-text-up {
  font-size: 300%;
  font-weight: bold;
  z-index: 1;
}

.blue-text-down {
  font-size: 1000%;
  font-weight: bold;
  z-index: 1;
}

.orange-container {
  background: linear-gradient(135deg, #f5a142, #f58f2a);
  display: grid;
  grid-template-rows:  10% 10% 55%; 
}

.orange-container-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;

}

.orange-text-up {
  font-size: 250%;
  font-weight: bold;
  z-index: 1;
}

.orange-text-down {
  font-size: 800%;
  font-weight: bold;
  z-index: 1;
}